/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root{
    --header-height:3rem;
    --font-medium:500;
}

:root{
    --first-color:#5361ff;
    --white-color:#fafaff;
    --dark-color:#2a3b47;
    --text-color:#697477;
}

:root{
    --body-font:'Montserrat', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .838em;
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 10.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: .1rem;
        --small-font-size: .875rem;
    }
}

:root{
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

:root{
    --z-fixed: 100;
}

*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
}
h1,h2,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

.section{
    padding: 3rem 0;
}
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--dark-color);
    margin: var(--mb-4);
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 32px;
    height:  .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.one-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}
/* NAV */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 60%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,.3);
        transition: .5s;
        backdrop-filter: blur(10px);
    }
}
.nav_item{
    margin-bottom: var(--mb-4);
}
.nav_link{
    position: relative;
    color: var(--dark-color);
}
.nav_link:hover{
    color: var(--first-color);
}
.nav_logo{
    color: var(--white-color);
}
.nav_logop{
    position: relative;
    height: 35px;
    width: 55px;
    top: -7%;
}
.nav_toggle{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.show{
    right: 0;

}

.show{
    right: 0;
}

.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.home{
    position: relative;
    overflow: hidden;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../garo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.home_container{
    height: calc(100vh - var(--header-height));
    row-gap: 5rem;
}
.home_title{
    align-self: flex-end;
    font-size: var(--big-font-size);
    color: var(--white-color);
    line-height: .8;
}
.home_title span{
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
}
.home_scroll{
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}
.home_scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--white-color);
}

.home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

.about_container{
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
}
.about_img{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 120px;
    height: 120px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}
.about_img img{
    width: 90px;
}
.about_subtitle{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}
.about_text{
    margin-bottom: var(--mb-4);
}
.about_profession{
    display: block;
    margin-bottom: var(--mb-4);
}.about_social-icon{
    font-size: 1.4rem;
    margin: 0 var(--mb-1);
}
.about_social-icon:hover{
    color: var(--first-color);
}
.gallery{
    background-color: var(--white-color);
}
.gallery_container{
    justify-content: center;
    row-gap: 1.5rem;
}
.gallery_img{
    position: relative;
    overflow: hidden;
}
.gallery_img img{
    border-radius: 12px;
}
.gallery_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: contrast(10px);
    transition: .3s;
}

.gallery_img:hover .gallery_link{
    bottom: 0;
}
.skills_container{
    row-gap: 2rem;
}
.skills_subtitle{
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
    
}
.skills_name{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem;
    background-color: var(--white-color);
    border-radius: .25rem;
    
}
.skills_name:hover{
    background-color: var(--first-color);
    color: var(--white-color);
}
.skills_img img{
    border-radius: .5rem;
}
.portfolio{
    background-color: var(--white-color);
}
.portfolio_container{
    justify-content: center;
    row-gap: 2rem;
}
.portfolio_img{
    position: relative;
    overflow: hidden;
}
.portfolio_img img{
    border-radius: 10px;
}
.portfolio_link{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}

.portfolio_img:hover .portfolio_link{
    bottom: 0;
}
.portfolio_link_name{
    color: var(--dark-color);
}

.contact_container{
    row-gap: 2rem;
}
.contact_subtitle{
    font-size: var(--normal-font-size);
    color: var(--first-color);
}
.contact_text{
    display: inline-block;
    margin-bottom: var(--mb-2);
}
.contact_inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.contact_input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--dark-color);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
}
.contact_button{
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    margin-left: auto;
    border-radius: .5rem;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.footer{
    background-color: var(--dark-color);
}
.footer_container{
    row-gap: 2rem;
}
.footer_title{
    font-size: var(--normal-font-size);
    color: var(--white-color);
    margin-bottom: var(--mb-2);
}
.footer_link{
    padding: .25rem 0;
}
.footer_link:hover{
    color: var(--first-color);
}
.footer_social{
    font-size: 1.4rem;
    margin-right: var(--mb-1);
}.footer_social:hover{
    color: var(--first-color);
}
#footer_copyright {
    color: var(--first-color);
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
}


@media screen and (min-width: 768px){
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
    }
    .section-title{
        margin-bottom: 3rem;
    }
    .section-title::after{
        width: 64px;
        top: 3rem;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_logo{
        font-size: 16px;
    }
    .nav_toggle{
        display: none;
    }
    .nav_link{
        color: var(--white-color);
    }
    .nav_item{
        font-size: 16px;
    }
    .nav_link:hover{
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }

    .home_container{
        height: 100vh;
        grid-template-rows: 1.7fr 1fr;
        row-gap: 0;
    }
    .home_img{
        width: 440px;
        right: 10%;
    }
    .home_scroll-link{
        font-size: 16px;
    }
    .about_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
        padding: 4rem 0;
    }
    .about_img{
        width: 200px;
        height: 200px;
    }
    .about_img img{
        width: 165px;
    }
    .about_profession{
        font-size: 18px;
    }
    .about_text{
        font-size: 14px;
    }
    .gallery_container{
        grid-template-columns: repeat(5, 2fr);
        grid-template-rows: repeat(3, 3fr);
        column-gap: 1.5rem;
    }
    .gallery_link-name{
        font-size: 22px;
    }
    .skills_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .skills_box{
    text-align: center;
    }
    .skills_subtitle{
        font-size: 22px;
    }
    .skills_name{
        font-size: 15px;
    }
    .portfolio_container{
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(3, 2fr);
        column-gap: 1.5rem;
        margin-bottom: -38px;
    }
    .portfolio_link-name{
        font-size: 22px;
    }
    .contact_container{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .contact_form{
        width: 380px;
    }
    .contact_subtitle{
        font-size: 18px;
    }
    .contact_text{
        font-size: 14px;
    }
    .contact_input{
        font-size: 14px;
    }
    .contact_button{
        font-size: 15px;
    }
    .footer_container{
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .footer_title{
        font-size: 18px;
    }
    .footer_text, .footer_link{
        font-size: 14px;
    }
    #footer_copyright{
        position: relative;
        top: 35px;
    }

    }

    @media screen and (min-width:1024px){
        .bd-grid{
            margin-left: auto;
            margin-right: auto;
        }
    }
    